<a color="warn" mat-raised-button routerLink="/contract/register">
  Adicionar Contrato
</a>
<mat-table [dataSource]="dataSource" matSort (matSortChange)="order()">
  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row class="selected-row" (click)="printRow(row)" *matRowDef="let row; columns: columns"></mat-row>

  <ng-container *ngIf="isAdmin()" matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header="id">
      Id
    </mat-header-cell>
    <mat-cell *matCellDef="let contract">
      {{ contract.id }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="contract_number">
    <mat-header-cell *matHeaderCellDef mat-sort-header="contractNumber">
      Número
    </mat-header-cell>
    <mat-cell *matCellDef="let contract">
      {{ contract.contractNumber }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="initial_date">
    <mat-header-cell *matHeaderCellDef mat-sort-header="initialDate">
      Data Inicial
    </mat-header-cell>
    <mat-cell *matCellDef="let contract">
      {{ contract.initialDate | brDate }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="final_date">
    <mat-header-cell *matHeaderCellDef mat-sort-header="finalDate">
      Data Final
    </mat-header-cell>
    <mat-cell *matCellDef="let contract">
      {{ contract.finalDate | brDate }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="contract_type">
    <mat-header-cell *matHeaderCellDef mat-sort-header="contractType">
      Tipo
    </mat-header-cell>
    <mat-cell *matCellDef="let contract">
      {{ contract.contractType.description }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="company">
    <mat-header-cell *matHeaderCellDef mat-sort-header="company">
      Empresa
    </mat-header-cell>
    <mat-cell *matCellDef="let contract">
      {{ contract.company.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      Ações
    </mat-header-cell>
    <mat-cell *matCellDef="let contract">
      <button class="aditive-btn" [disabled]="showButton(contract)" mat-raised-button color="primary"
        (click)="additivate($event, contract)">Aditivar</button>
    </mat-cell>
  </ng-container>
</mat-table>

<mat-paginator #paginator (page)="queryData()" [length]="itemCount" [pageIndex]="index" [pageSize]="5"
  [pageSizeOptions]="[5, 10, 15, 25]">
</mat-paginator>
